### Support Vector Machine Regression for House Price Prediction

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('HousePrice_file.csv')
dataset.head()

        City  Quarter House Structure   House Type  BHK  Price
0     Mumbai        4       Row_House  Unfurnished    2  20000
1     Mumbai        3        Building    Furnished    4  20000
2       Pune        4        Building  Unfurnished    1  30000
3  Hyderabad        1        Building    Furnished    4  10000
4     Mumbai        4        Bungalow    Furnished    2  20000

In [3]:
city = {'Pune':1, 'Mumbai':2, 'Bangalore':3, 'Hyderabad':4}
house_struct = {'Bungalow':1, 'Building':2, 'Row_House':3}
house_type = {'Furnished':1, 'Unfurnished':2}
dataset['City'] = dataset['City'].map(city)
dataset['House Structure'] = dataset['House Structure'].map(house_struct)
dataset['House Type'] = dataset['House Type'].map(house_type)
dataset.head()

   City  Quarter  House Structure  House Type  BHK  Price
0     2        4                3           2    2  20000
1     2        3                2           1    4  20000
2     1        4                2           2    1  30000
3     4        1                2           1    4  10000
4     2        4                1           1    2  20000

In [4]:
X = dataset.iloc[:, 0:-1].values
y = dataset.iloc[:, -1].values

In [7]:
y = y.reshape(len(y),1)

In [8]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [9]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X, y)

/home/safir/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [14]:
import joblib
joblib.dump(regressor, 'HousePriceModel.pkl')

['HousePriceModel.pkl']

In [15]:
reg = joblib.load('HousePriceModel.pkl')

In [17]:
sc_y.inverse_transform(reg.predict(sc_X.transform([[4, 4, 3, 2, 2]])))

array([6410.15942919])