In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('TenouseProfit_file.csv')
dataset

        City  Quarter         Profit
0     Mumbai        1           2500
1  Bangalore        4          12500
2  Bangalore        1         312500
3  Hyderabad        2        1562500
4  Bangalore        2        7812500
5  Hyderabad        2       39062500
6  Bangalore        4      976562500
7  Bangalore        1     4882812500
8  Hyderabad        4   122070312500
9     Mumbai        2  3051757812500