### Random Forest Regression for Predicting Tenouse Profit

In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
dataset = pd.read_csv('TenouseProfit_file.csv')
dataset

         City  Quarter    Profit
0        Pune        1       300
1        Pune        3       600
2        Pune        3      3600
3        Pune        3      7200
4        Pune        1     14400
5        Pune        4     86400
6        Pune        2    259200
7        Pune        1   1555200
8        Pune        4   9331200
9        Pune        3  27993600
10     Mumbai        4       500
11     Mumbai        3      2500
12     Mumbai        3     15000
13     Mumbai        1     75000
14     Mumbai        4    375000
15     Mumbai        2   2250000
16     Mumbai        2   4500000
17     Mumbai        1   9000000
18     Mumbai        2  45000000
19     Mumbai        2  90000000
20  Bangalore        2       300
21  Bangalore        1       600
22  Bangalore        3      3000
23  Bangalore        4      9000
24  Bangalore        3     45000
25  Bangalore        1    135000
26  Bangalore        2    405000
27  Bangalore        1   2025000
28  Bangalore        2   4050000
29  Bangalore        2  12150000
30  Hyderabad        3       300
31  Hyderabad        3      1500
32  Hyderabad        4      4500
33  Hyderabad        1     22500
34  Hyderabad        4     45000
35  Hyderabad        2    270000
36  Hyderabad        1    810000
37  Hyderabad        1   2430000
38  Hyderabad        4  12150000
39  Hyderabad        2  72900000

In [32]:
city = {'Pune':1, 'Mumbai':2, 'Bangalore':3, 'Hyderabad':4}
dataset['City'] = dataset['City'].map(city)
dataset

    City  Quarter    Profit
0      1        1       300
1      1        3       600
2      1        3      3600
3      1        3      7200
4      1        1     14400
5      1        4     86400
6      1        2    259200
7      1        1   1555200
8      1        4   9331200
9      1        3  27993600
10     2        4       500
11     2        3      2500
12     2        3     15000
13     2        1     75000
14     2        4    375000
15     2        2   2250000
16     2        2   4500000
17     2        1   9000000
18     2        2  45000000
19     2        2  90000000
20     3        2       300
21     3        1       600
22     3        3      3000
23     3        4      9000
24     3        3     45000
25     3        1    135000
26     3        2    405000
27     3        1   2025000
28     3        2   4050000
29     3        2  12150000
30     4        3       300
31     4        3      1500
32     4        4      4500
33     4        1     22500
34     4        4     45000
35     4        2    270000
36     4        1    810000
37     4        1   2430000
38     4        4  12150000
39     4        2  72900000

In [33]:
X = dataset.iloc[:, 0:-1].values
y = dataset.iloc[:, -1].values

In [34]:
y = y.reshape(len(y),1)

In [35]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [36]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X, y)

<ipython-input-36-46dbf2aff85e>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X, y)

RandomForestRegressor(n_estimators=10, random_state=0)

In [40]:
import joblib
joblib.dump(regressor, 'TenouseProfitModel.pkl')

['TenouseProfitModel.pkl']

In [41]:
reg = joblib.load('TenouseProfitModel.pkl')

In [42]:
sc_y.inverse_transform(reg.predict(sc_X.transform([[2, 1]])))

array([3357145.])